<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home | SITE_NAME</title>

    <!--
    Filename: ./index.html
    Project:  PROJECT_NAME
    Author:   YOUR_NAME <YOUR_EMAIL_ADDRESS>
    Created:  DATE_CREATED
    Version:  VERSION_NUMBER
    -->

    <!-- CSS Reset from https://elad2412.github.io/the-new-css-reset/ -->
    <link rel="stylesheet" href="./assets/css/reset.css">

    <!-- Site Fonts (from google) -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Site CSS -->
    <link rel="stylesheet" href="./assets/css/site.css">

    <!-- JS (Deferred) -->

</head>
<body>

<h1>Base Page</h1>
<p>This is a base page with all default browser styling reset.</p>

</body>
</html>
